詳細検索ページだよ

<h3>タグから検索</h3>


<%= search_form_for @q do |f| %>
  <div class="Tag_check_list">
    <% Tag.all.each do |t| %>
      <%= f.check_box :labels_id_eq_any, { multiple: true, checked: t[:checked], disabled: t[:disabled], include_hidden: false }, t[:id] %>
      <label><%= t.tag %></label><br>
    <% end %>
    <%= f.submit "検索" %>
  </div>
<% end %>

<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
        <div class="main-box">
            <div class="left-container">
              <div class="index_title">  
                <%= link_to t.title, tweet_path(t.id) %>
              </div>
              <h4>タグ</h4>
              <% t.tags.each do |tag| %>
                <span class= 'badge badge-primary'>#<%= link_to tag.tag, tags_search_path(tag.id) %></span>
              <% end %>
            </div>
            <div class=right-container>
              <%= link_to t.artist, tweets_artist_path(t.id) %><br>
              <% if current_user.already_liked?(t) %>
                <span class="fa fa-heart like-btn-unlike" ></span><%= t.liked_users.count %>
                <%= link_to 'いいねを取り消す', tweet_like_path(t.id, t.id), method: :delete %>
              <% else %>
                <span class="fa fa-heart like-btn" ></span><%= t.liked_users.count %>
                <%= link_to 'いいね', tweet_likes_path(t.id, t.id) %>
              <% end %>
              <% if user_signed_in? && current_user.id == t.user_id %>
                  <%= link_to '編集する', "/tweets/#{t.id}/edit" %>　
              <% end %>
              投稿者　<%= t.user.user_name %><br>
            </div>
        </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>
