<h2 style="background-color:orange; color:white; height:100px;  text-align:center; line-height:1.5;">あなたにぴったりの音楽に出会うサイト</h2><br>


<h2>最新トピックス</h2><br>

<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
        <div class="main-box">
            <div class="left-container">
              <%= link_to t.title, tweet_path(t.id) %><br>
              <h4>タグ</h4>
              <% t.tags.each do |tag| %>
                #<span class= 'badge badge-primary'><%= tag.tag %></span>
              <% end %>
            </div>
            <div class=right-container>
              <%= link_to t.artist, tweets_artist_path(t.id) %><br>
              <% if current_user.already_liked?(t) %>
                <%= link_to tweet_like_path(t.id, t.id), method: :delete do %>
                  <i class="far fa-heart unlike-btn" ></i>
                <% end %><%= t.liked_users.count %>
              <% else %>
                <%= button_to tweet_likes_path(t.id, t.id) do %>
                  <i class="far fa-heart like-btn" ></i>
                <% end %><%= t.liked_users.count %>
              <% end %><br>
              <% if user_signed_in? && current_user.id == t.user_id %>
                  <%= link_to '編集する', "/tweets/#{t.id}/edit" %>
                  <%= link_to '削除する', "/tweets/#{t.id}", method: :delete %>
              <% end %>
              投稿者　<%= t.user.user_name %><br>
            </div>
        </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>


<%= link_to 'View more...', :controller => "tweets", :action => "index" %>

<br>

<h2>お気に入り数ランキング</h2><br>

<div class="tweets-container">
  <% @all_ranks.each do |t| %>
    <div class="tweet">
        <div class="main-box">
            <div class="left-container">
              <%= link_to t.title, tweet_path(t.id) %><br>
              <h4>タグ</h4>
              <% t.tags.each do |tag| %>
                #<span class= 'badge badge-primary'><%= tag.tag %></span>
              <% end %>
            </div>
            <div class=right-container>
              <%= link_to t.artist, tweets_artist_path(t.id) %><br>
              <% if current_user.already_liked?(t) %>
                <%= link_to tweet_like_path(t.id, t.id), method: :delete do %>
                  <i class="far fa-heart unlike-btn" ></i>
                <% end %><%= t.liked_users.count %>
              <% else %>
                <%= button_to tweet_likes_path(t.id, t.id) do %>
                  <i class="far fa-heart like-btn" ></i>
                <% end %><%= t.liked_users.count %>
              <% end %><br>
              <% if user_signed_in? && current_user.id == t.user_id %>
                  <%= link_to '編集する', "/tweets/#{t.id}/edit" %>　
              <% end %>
              投稿者　<%= t.user.user_name %><br>
            </div>
        </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>

<%= link_to 'View more...', :controller => "tweets", :action => "ranking" %>

