
<h2>特徴タグを付けましょう</h2>

<%= form_for @tweet do |f| %>



  <div class='form-group'>
    <h3>特徴タグ</h3>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag) do |tag| %>
        <div class='form-check'>
            <%= tag.label class: 'form-check-label' do %>
                <%= tag.check_box class: 'form-check-input' %>
                <%= tag.text %>
            <% end %>
        </div>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :image, 'ジャケット写真 ※許可がある場合のみ' %><br>
    <%= f.file_field :image %>
  </div>

  <%= f.submit "編集する" %>
<% end %>