
<h2>新規投稿一覧</h2>

<br>
<%= page_entries_info @tweets %>

<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
        <div class="main-box">
            <div class="left-container">
              <div class="index_title">   
                <%= link_to t.title, tweet_path(t.id), :class=>"link_to" %> / <%= link_to t.artist, tweets_artist_path(t.id), :class=>"link_to" %><br>
              </div>
              <h4>タグ</h4>
              <% t.tags.each do |tag| %>
                <span class= 'badge badge-primary'>#<%= link_to tag.tag, tags_search_path(tag.id), :class=>"link_to" %></span>
              <% end %>
            </div>
            <div class=right-container>
              <br>
              <% if user_signed_in? %> <!--いいねボタン開始-->
                <% if current_user.already_liked?(t) %>
                  <%= button_to tweet_like_path(t.id, t.id), method: :delete do %>
                    <i class="far fa-heart unlike-btn" ></i><%= t.liked_users.count %>
                  <% end %>
                <% else %>
                  <%= button_to tweet_likes_path(t.id, t.id) do %>
                    <i class="far fa-heart like-btn" ></i><%= t.liked_users.count %>
                  <% end %>
                <% end %><br>
                <% if user_signed_in? && current_user.id == t.user_id %>
                    <%= link_to '編集する', "/tweets/#{t.id}/edit", :class=>"link_to" %>　
                <% end %>
              <% else %>
                (♡<%= t.liked_users.count %>)
              <% end %> <!--いいねボタン終わり--> 
              投稿者　<%= t.user.user_name %><br>
            </div>
        </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>

<%= paginate @tweets %>
