<%= stylesheet_link_tag 'new', :media => "all" %>

<p class="title">新規投稿ページだよ</p>

<%= form_for @tweet do |f| %>
  <div class="field">
    <%= f.label :title, '曲名' %>
    <%= f.text_field :title, :size => 140 %><br>
    <%= f.label :artist, 'アーティスト' %>
    <%= f.text_field :artist, :size => 140 %><br>
    <%= f.label :writer, '作詞者' %>
    <%= f.text_field :writer, :size => 140 %><br>
    <%= f.label :composer, '作曲者' %>
    <%= f.text_field :composer, :size => 140 %><br>
    <%= f.label :published, '配信先' %>
    <%= f.text_field :published, :size => 140 %><br>
    <%= f.label :record, '収録' %>
    <%= f.text_field :record, :size => 140 %><br>
    <%= f.label :used, 'タイアップ' %>
    <%= f.text_field :used, :size => 140 %><br>
  </div>

  <div class='form-group'>
    <h3>特徴タグ</h3>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag) do |tag| %>
        <div class='form-check'>
            <%= tag.label class: 'form-check-label' do %>
                <%= tag.check_box class: 'form-check-input' %>
                <%= tag.text %>
            <% end %>
        </div>
    <% end %>
    <!--<%= tag.text_field :tag %>-->
  </div>
  

  <div class="field">
    <%= f.label :image, 'ジャケット写真 ※許可がある場合のみ' %><br>
    <%= f.file_field :image %>
  </div>

  <%= f.submit "作成する" %><br>
<% end %>



<%= link_to "楽曲一覧に戻る", tweets_path %>