<%= stylesheet_link_tag 'new', :media => "all" %>

<h2>新規投稿ページ</h2>


<%= form_for @tweet do |f| %>
  <div class="field">
    <%= f.label :title, '曲名' %>
    <%= f.text_field :title %><br><br>
    <%= f.label :artist, 'アーティスト' %>
    <%= f.text_field :artist %><br><br>
    <%= f.label :writer, '作詞者' %>
    <%= f.text_field :writer %><br><br>
    <%= f.label :composer, '作曲者' %>
    <%= f.text_field :composer %><br><br>
    <%= f.label :year, 'リリース年' %>
    <%= f.text_field :year %><br><br>
  </div>
  <div class="areafield">    
    <%= f.label :published, '配信先' %><br>
    <%= f.text_area :published %><br><br>
    <%= f.label :record, '収録' %><br>
    <%= f.text_area :record %><br><br>
    <%= f.label :used, 'タイアップ' %><br>
    <%= f.text_area :used %><br><br>
  </div>

  <div class="fieldphoto">
    <%= f.label :image, 'ジャケット写真 ※許可がある場合のみ' %><br>
    <%= f.file_field :image %>
  </div>
  
  <div class="new-form-submit">
    <%= f.submit "タグ付けへ-->" %><br>
  </div>
<% end %>

