<%= stylesheet_link_tag 'new', :media => "all" %>

<p class="title">新規投稿ページだよ</p>

<%= form_for @tweet do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 140 %><br>
    <%= f.label :artist %>
    <%= f.text_field :artist, :size => 140 %><br>
    <%= f.label :writer %>
    <%= f.text_field :writer, :size => 140 %><br>
    <%= f.label :composer %>
    <%= f.text_field :composer, :size => 140 %><br>
    <%= f.label :published %>
    <%= f.text_field :published, :size => 140 %><br>
    <%= f.label :record %>
    <%= f.text_field :record, :size => 140 %><br>
  </div>


  <%= f.submit "作成する" %><br>
<% end %>



<%= link_to "楽曲一覧に戻る", tweets_path %>