<h2>いいね数ランキング</h2>


<div class="tweets-container">
  <% @all_ranks.each do |t| %>
    <div class="tweet">
        <div class="main-box">
            <div class="left-container"><%= link_to t.title, tweet_path(t.id) %></div>
            <div class=right-container>
              <%= t.artist %><br>
              <% if current_user.already_liked?(t) %>
                <span class="fa fa-heart like-btn-unlike"></span><%= t.liked_users.count %>
                <%= link_to 'いいねを取り消す', tweet_like_path(t.id, t.id), method: :delete %>
              <% else %>
                <span class="fa fa-heart like-btn"></span><%= t.liked_users.count %>
                <%= link_to 'いいね', tweet_likes_path(t.id, t.id) %>
              <% end %>
              <% if user_signed_in? && current_user.id == t.user_id %>
                  <%= link_to '編集する', "/tweets/#{t.id}/edit" %>　
              <% end %>
              投稿者　<%= t.user.user_name %>
              <% t.tags.each do |tag| %>
                <span class= 'badge badge-primary'><%= tag.tag %></span>
              <% end %>
            </div>
        </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>