
　楽曲詳細ページだよ<br>

<% if user_signed_in? && current_user.id == @tweet.user_id %>
  <%= link_to '編集する', "/tweets/#{@tweet.id}/edit" %>
  <!--<%= link_to '削除する', "/tweets/#{@tweet.id}", method: :delete %>-->
  <%= link_to '削除する', "/tweets/#{@tweet.id}",method: :delete, data: { confirm: '削除しますか？' } %>
<% end %>

<div class="tweet">
  タイトル　<%= @tweet.title %><br>
  アーティスト　<%= @tweet.artist %><br>
  <h3>いいね件数: <%= @tweet.likes.count %></h3>
  <% if current_user.already_liked?(@tweet) %>
    <%= button_to 'いいねを取り消す', tweet_like_path(@tweet), method: :delete %>
  <% else %>
    <%= button_to 'いいね', tweet_likes_path(@tweet) %>
  <% end %>
  作詞者　<%= @tweet.writer %><br>
  作曲者　<%= @tweet.composer %><br>
  配信先　<%= @tweet.published %><br>
  CD収録　<%= @tweet.record %><br>
  作成者  <%= @tweet.user.email %><br>
  記事作成日時　<%= @tweet.created_at %><br>
  <% @tweet.tags.each do |tag| %>
    <span class= 'badge badge-primary'><%= tag.name %></span>
  <% end %>

</div>



いいねしたユーザー
<% @tweet.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      (投稿者)　<%= c.user.user_name unless c.user.blank? %>
      <br>
      (コメント)　<%= c.comment %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
      <%= f.text_area :comment%>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "Tweet一覧に戻る", tweets_path %>