
<h2><%= @tweet.title %> / <%= link_to @tweet.artist, tweets_artist_path(@tweet.id) , :class=>"link_to" %></h2>

<div class="show-to-action">
  <% if user_signed_in? && current_user.id == @tweet.user_id %>
    <%= link_to img,"/tweets/#{@tweet.id}/edit" src="https://res.cloudinary.com/dtyelpqc0/image/upload/v1594727526/henshusuru_idhzqu.png" alt="henshusuru" %>
    <%= link_to '削除する', "/tweets/#{@tweet.id}",method: :delete, data: { confirm: '削除しますか？' } %>
  <% end %>
  <% if user_signed_in? %> <!--いいねボタン開始-->
    <% if current_user.already_liked?(@tweet) %>
      <%= button_to tweet_like_path(@tweet.id, @tweet.id), method: :delete do %>
        <i class="far fa-heart unlike-btn" ></i><%= @tweet.liked_users.count %>
      <% end %>
    <% else %>
      <%= button_to tweet_likes_path(@tweet.id, @tweet.id) do %>
        <i class="far fa-heart like-btn" ></i><%= @tweet.liked_users.count %>
      <% end %>
    <% end %><br>
  <% else %>
    (♡<%= @tweet.liked_users.count %>)
  <% end %> <!--いいねボタン終わり-->    
</div>

<div class="tweet">
  <div class="picture">
    <%= image_tag @tweet.image_url, :size =>'240x240' %><br>
  </div>
  <div class="detail">
    <table>
      <tr>
        <td>タイトル</td>　<td><%= @tweet.title %></td>
      </tr>
      <tr>
        <td>アーティスト</td>　<td><%= link_to @tweet.artist, tweets_artist_path(@tweet.id), :class=>"link_to" %></td>
      </tr>
      <tr>   
        <td>作詞者</td>　<td><%= @tweet.writer %></td>
      </tr>
      <tr>
        <td>作曲者</td>　<td><%= @tweet.composer %></td>
      </tr>
      <tr>
        <td>配信先</td>　<td><%= @tweet.published %></td>
      </tr>
      <tr>
        <td>CD収録</td>　<td><%= @tweet.record %></td>
      </tr>
      <tr>
        <td>タイアップ</td>　<td><%= @tweet.used %></td>
      </tr>
      <tr>
        <td>作成者</td>　<td><%= @tweet.user.user_name %></td>
      </tr>
      <tr>
        <td>記事作成日時</td>　<td><%= @tweet.created_at %></td>
      </tr>
    </table>
  </div>
  <div class="Tag">
    <h4>タグ</h4>
    <% @tweet.tags.each do |tag| %>
      #<span class= 'badge badge-primary'><%= link_to tag.tag, tags_search_path(tag.id), :class=>"link_to" %></span>
    <% end %>
  </div>

</div>

<div class="liked-user">
  <h4>いいねしたユーザー</h4>
  <% @tweet.liked_users.each do |user| %>
    <li><%= user.user_name %></li>
  <% end %>
</div>

<div class="comment-wrapper">
  <h4>コメント一覧</h4>
  <% @comments.each do |c| %>
    <div>
      (投稿者)　<%= c.user.user_name unless c.user.blank? %>
      <br>
      (コメント)　<%= c.comment %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
      <%= f.text_area :comment%>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
