
　楽曲詳細ページだよ<br>

<%= link_to "編集する", edit_tweet_path(@tweet.id) %>
<%= link_to "削除する", tweet_path(@tweet.id), method: :delete %>

<div class="tweet">
  タイトル　<%= @tweet.title %><br>
  アーティスト　<%= @tweet.artist %><br>
  作詞者　<%= @tweet.writer %><br>
  作曲者　<%= @tweet.composer %><br>
  配信先　<%= @tweet.published %><br>
  CD収録　<%= @tweet.record %><br>
  記事作成日時　<%= @tweet.created_at %><br>
</div>

<%= link_to "Tweet一覧に戻る", tweets_path %>