マイページだよ

<%= link_to "プロフィール編集", edit_user_registration_path %>

<h4>メールアドレス</h4>

<h1><%= current_user.user_name %></h1>

<h2>投稿した曲</h2>

<br>
<%= page_entries_info @tweet %>

<div class="tweets-container">
  <% @tweet.each do |t| %>
    <div class="tweet">
        <div class="main-box">
            <div class="left-container"><%= t.title %></div>
            <div class=right-container>
              <%= t.artist %><br>
              (♡<%= t.liked_users.count %>)
              <%= link_to "詳細へ", tweet_path(t.id) %>
              <%= link_to "編集する", edit_tweet_path(t.id) %>
              <%= link_to "削除する", tweet_path(t.id), method: :delete %>
            </div>
        </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>

<%= paginate @tweet %>

