マイページだよ<br>

  <%= image_tag current_user.icon_url_url, :size =>'160x160' %><br>

<%= link_to "プロフィール編集", edit_user_registration_path %>

<h4>メールアドレス</h4>

<h1><%= current_user.user_name %></h1>

<h2>投稿した曲</h2>

<br>
<%= page_entries_info @tweet %>

<div class="tweets-container">
  <% @tweet.each do |t| %>
    <div class="tweet">
        <div class="main-box">
            <div class="left-container"><%= link_to t.title, tweet_path(t.id) %></div>
            <div class=right-container>
              <%= t.artist %><br>
              (♡<%= t.liked_users.count %>)
              <%= link_to "編集する", edit_tweet_path(t.id) %>
              <%= link_to '削除する', "/tweets/#{t.id}",method: :delete, data: { confirm: '削除しますか？' } %>
              <h4>タグ</h4>
              <% t.tags.each do |tag| %>
                <span class= 'badge badge-primary'><%= tag.tag %></span>
              <% end %>
            </div>
        </div>
        <p class="time"><%= t.created_at %></p>
    </div>
  <% end %>
</div>

<%= paginate @tweet %>


<h2>いいねした曲</h2>

<div class="tweets-container">
  <div class="contents_like">
    <% @likes.each do |like| %>
      <div class="tweet">
          <div class="main-box">
              <div class="left-container"><% tweet = Tweet.find_by(id: like.tweet_id) %>      <%= link_to tweet.title, tweet_path(tweet.id) %><br></div>
              <div class=right-container>
                <%= tweet.artist %><br>
                投稿者　<%= tweet.user.user_name %><br>
                  <h4>タグ</h4>
                <% tweet.tags.each do |tag| %>
                  <span class= 'badge badge-primary'><%= tag.tag %></span>
                <% end %>
              </div>
          </div>
          <p class="time"><%= tweet.created_at %></p>
      </div>    
    <% end %>
  </div>
</div>

