<h2>マイページだよ</h2><br>

<div class="userpage-zentai">

<div class="pofile">
  <%= image_tag current_user.icon_url_url, :size =>'160x160' %><br>

  <h1><%= current_user.user_name %></h1>
  <%= link_to "プロフィール編集", edit_user_registration_path %>

</div>

<div class="userpage-block2">
<h2>投稿した曲</h2>

<br>
<%= page_entries_info @tweet %>

<div class="tweets-container">
  <% @tweet.each do |t| %>
    <div class="tweet">
        <div class="main-box">
            <div class="left-container">
              <div class="index_title">        
                <%= link_to t.title, tweet_path(t.id) %> / <%= link_to t.artist, tweets_artist_path(t.id) %><br>
              </div>
              <h4>タグ</h4>
              <% t.tags.each do |tag| %>
                #<span class= 'badge badge-primary'><%= link_to tag.tag, tags_search_path(tag.id) %></span>
              <% end %>
            </div>
        </div>
        <div class="right-container">        
          (♡<%= t.liked_users.count %>)
          <%= link_to "編集する", edit_tweet_path(t.id) %>
          <%= link_to '削除する', "/tweets/#{t.id}",method: :delete, data: { confirm: '削除しますか？' } %>
        </div>
        <p class="time">        
          <%= t.created_at %>
        </p>
    </div>
  <% end %>
</div>

<%= paginate @tweet %>


<h2>いいねした曲</h2>

<div class="tweets-container">
  <div class="contents_like">
    <% @likes.each do |like| %>
      <div class="tweet">
          <div class="main-box">
              <div class="left-container">
                <div class="index_title">  
                  <% tweet = Tweet.find_by(id: like.tweet_id) %>      <%= link_to tweet.title, tweet_path(tweet.id) %> / <%= link_to tweet.artist, tweets_artist_path(tweet.id) %><br>
                </div>
                <h4>タグ</h4>
                <% tweet.tags.each do |tag| %>
                  <span class= 'badge badge-primary'>#<%= link_to tag.tag, tags_search_path(tag.id) %></span>
                <% end %>
              </div>
          </div>
          <div class="right-container">
            投稿者　<%= tweet.user.user_name %><br>
          </div>          
          <p class="time"><%= tweet.created_at %></p>
      </div>    
    <% end %>
  </div>
</div>

</div>

</div>