
<div class="tweets-container">
  <% @tag.tag_relations.each do |t| %>
    <div class="tweet">
        <div class="main-box">
            <div class="left-container">
              <div class="index_title">  
                <%= link_to t.tweet.title, tweet_path(t.id) %><br>
              </div>
              <h4>タグ</h4>
              <% t.tweet.tags.each do |tag| %>
                #<span class= 'badge badge-primary'><%= tag.tag %></span>
              <% end %>
            </div>
            <div class=right-container>
              <%= link_to t.tweet.artist, tweets_artist_path(t.tweet.id) %><br>
              <% if current_user.already_liked?(t) %>
                <%= link_to tweet_like_path(t.tweet.id, t.tweet.id), method: :delete do %>
                  <i class="far fa-heart unlike-btn" ></i>
                <% end %><%= t.tweet.liked_users.count %>
              <% else %>
                <%= button_to tweet_likes_path(t.tweet.id, t.tweet.id) do %>
                  <i class="far fa-heart like-btn" ></i>
                <% end %><%= t.tweet.liked_users.count %>
              <% end %>
              投稿者　<%= t.tweet.user.user_name %><br>
            </div>
        </div>
        <p class="time"><%= t.tweet.created_at %></p>
    </div>
  <% end %>
</div>