<!DOCTYPE html>
<html>
<link rel="shortcut icon" href="https://res.cloudinary.com/dtyelpqc0/image/upload/v1595255561/favicons/favicon_x9l9ht.ico" type="logo.icon" />   
<link rel="icon" href="https://res.cloudinary.com/dtyelpqc0/image/upload/v1595255561/favicons/favicon_x9l9ht.ico" type="logo.icon" /> 
  <head>
    <title>Enmusiquer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="title"><%= link_to "Enmusiquer",hello_index_path %></div>
      <div class="header-list">
      <ul>
        <li><%= link_to "Enmusiquerとは",:controller => "/hello", :action => "about" %></li>
        <li><%= link_to "ランキング",:controller => "/tweets", :action => "ranking" %></li>
        <li><%= link_to "楽曲一覧",:controller => "/tweets", :action => "index" %></li>
        <li><%= link_to "タグ一覧",:controller => "/tags", :action => "index" %></li>
        <li><%= link_to "詳細検索",:controller => "/search", :action => "search" %></li>
        
        <li>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <div class="name"><%= current_user.user_name %>さん</div>
            <a href="/users/<%= current_user.id %>">マイページ</a>
            <%= link_to "新規投稿",tweets_new_path %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", tweets_new_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          </div>
        <% end %>
        </li>
      </ul>
      </div>
    </header>
    <main>
    <!--ここが本文-->
      <%= yield %>
    </main>
    <footer>
     <p>Copyright © AKADRA from GeekSalon All Rights Reserved.</p>
    </footer>
  </body>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
</html>